# Absolute folders
# --------------

# /Xxxxx

# Absolute files
# ------------

# /*.xxx

# Folders everywhere
# ------------------

.vs
obj
bin

# Files everywhere
# ----------------

*.suo
*.user
*.userprefs